In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_parquet('processed/master_panel.parquet')
df2 = pd.read_parquet('processed\surplus_events.parquet')

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\sasha\AppData\Local\Temp\ipykernel_15172\1645593300.py:2: SyntaxWarning: invalid escape sequence '\s'
  df2 = pd.read_parquet('processed\surplus_events.parquet')

In [11]:
df2

,zone,surplus_event_id,start_time,end_time,duration_h,min_price,mean_price,max_net_surplus_mw,mean_renewable_share,mean_wind100,mean_load_mw,mean_net_export_mw,max_export_utilisation,mean_bal_price_down,mean_abs_imbalance,mean_severity
0,DK1,1,2023-01-01 04:00:00,2023-01-01 13:00:00,10,-0.38,0.14300,1906.96,0.804104,14.208090,2196.538000,-96.977000,1.007689,-4.345000,0.0,1.807251
1,DK1,2,2023-01-04 03:00:00,2023-01-04 03:00:00,1,0.85,0.85000,1705.52,0.900960,11.334342,2417.860000,1206.280000,0.918350,0.850000,0.0,4.249901
2,DK1,3,2023-01-04 23:00:00,2023-01-05 03:00:00,5,0.09,0.53200,1482.92,0.894946,13.378816,2436.520000,815.702000,1.304097,0.532000,0.0,3.515885
3,DK1,4,2023-01-08 02:00:00,2023-01-08 02:00:00,1,4.16,4.16000,1973.93,0.901655,9.790168,2155.310000,1453.770000,0.935475,4.160000,0.0,4.679837
4,DK1,5,2023-01-10 23:00:00,2023-01-11 04:00:00,6,0.01,1.34000,2479.56,0.909541,14.052958,2440.043333,1563.765000,1.074365,0.416667,0.0,4.963124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,SE4,156,2024-12-01 23:00:00,2024-12-02 03:00:00,5,-0.90,-0.40600,-1237.63,0.915999,8.513534,2585.000000,-1220.756000,0.000000,-1.322000,0.0,1.588528
2396,SE4,157,2024-12-26 02:00:00,2024-12-26 07:00:00,6,-0.38,-0.29500,-921.90,0.915562,8.135804,2164.666667,-1048.461667,0.000000,-0.835000,0.0,2.178527
2397,SE4,158,2024-12-29 00:00:00,2024-12-29 07:00:00,8,-0.42,-0.26875,-1231.43,0.920552,7.903745,2414.875000,-1316.611250,0.000000,-0.341250,0.0,1.357361
2398,SE4,159,2024-12-29 22:00:00,2024-12-30 05:00:00,8,-2.18,-1.46625,-204.72,0.955649,12.763619,2307.000000,-287.293750,0.000000,-2.235000,0.0,4.528213
2399,SE4,160,2024-12-31 01:00:00,2024-12-31 01:00:00,1,-0.03,-0.03000,-1334.16,0.876762,4.786284,2214.000000,-1236.840000,0.000000,-0.030000,0.0,1.476526