In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_parquet('processed/master_panel.parquet')
df2 = pd.read_parquet('processed\surplus_events.parquet')

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\sasha\AppData\Local\Temp\ipykernel_10136\920633512.py:2: SyntaxWarning: invalid escape sequence '\s'
  df2 = pd.read_parquet('processed_sample\surplus_events.parquet')

In [ ]:
df2.head()

,start_time,end_time,duration_h,min_price,mean_price,max_net_surplus_mw,mean_renewable_share,mean_wind100,mean_load_mw,mean_net_export_mw,max_export_utilisation,mean_bal_price_down,mean_abs_imbalance,mean_severity
0,2023-01-01 04:00:00+00:00,2023-01-01 13:00:00+00:00,10,-0.38,0.143,1906.96,0.804104,14.208090,2196.538000,-96.977,1.007689,-4.345000,NaN,2.042964
1,2023-01-04 03:00:00+00:00,2023-01-04 03:00:00+00:00,1,0.85,0.850,1705.52,0.900960,11.334342,2417.860000,1206.280,0.918350,0.850000,NaN,4.572149
2,2023-01-04 23:00:00+00:00,2023-01-05 03:00:00+00:00,5,0.09,0.532,1482.92,0.894946,13.378816,2436.520000,815.702,1.304097,0.532000,NaN,3.812116
3,2023-01-08 02:00:00+00:00,2023-01-08 02:00:00+00:00,1,4.16,4.160,1973.93,0.901655,9.790168,2155.310000,1453.770,0.935475,4.160000,NaN,5.017842
4,2023-01-10 23:00:00+00:00,2023-01-11 04:00:00+00:00,6,0.01,1.340,2479.56,0.909541,14.052958,2440.043333,1563.765,1.074365,0.416667,NaN,5.310619